<div class="panel">

<div class="row panel-heading">
  <div class="col-xs-12">
    <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ contact.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group pull-right">
      <a
          routerLink="edit"
          class="btn btn-primary">
          Edit
        </a>
      <a
        class="btn btn-danger"
        (click)="onDelete()">
        Delete
      </a>
    </div>
    <div class="pull-left">
    </div>
  </div>
</div>

<hr>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        Email: {{ contact.email }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        Phone: {{ contact.phone }}
      </div>
    </div>
  </div>

</div>
