<div class="panel panel-default">
<div class="row">
  <div class="col-xs-12 panel-heading">
    <div class="pull-left">
      Contacts
    </div>
    <button class="btn btn-success  pull-right">
      New Contact
    </button>
  </div>
</div>
<hr>
<div class="row panel-body">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let contact of contacts">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ contact.name }}</h4>
          <!-- <p class="list-group-item-text">{{ contact.email }}</p> -->
        </div>
        <span class="pull-right">
          <img
            [src]="contact.imageUrl"
            alt="{{ contact.name }}"
            class="img-responsive"
            style="max-height: 50px">
        </span>
    </a>
    <!-- <app-contacts></app-contacts> -->
  </div>
</div>
</div>
